<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
    	<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="cacheEnabled" value="false" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="300" />
		<setting name="localCacheScope" value="SESSION" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- select 결과값이 null라도 key생성 --> 
		<setting name="callSettersOnNulls" value="true"/>
		<!-- 카멜 케이스 VO 매핑 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>


    <typeAliases>
         <typeAlias alias="hashMap" type="java.util.HashMap" />
         <typeAlias alias="map" type="java.util.Map" />
    </typeAliases>
    
    <!-- 날짜관련 설정 
	<typeHandlers>
		<typeHandler javaType="java.sql.Timestamp" handler="com.jc.nexstore.core.mybatis.UtcDateTypeHandler" />
		<typeHandler javaType="java.sql.Time" handler="com.jc.nexstore.core.mybatis.UtcDateTypeHandler" />
		<typeHandler javaType="java.sql.Date" handler="com.jc.nexstore.core.mybatis.UtcDateTypeHandler" />
	</typeHandlers>	
	-->
	
	

</configuration>